<ion-content>
  <div class="main">
    <div class="header container">
      <ion-back-button text="" defaultHref="" icon="arrow-round-back"></ion-back-button>
    </div>

    <div class="content">
      <div class="title container">
        <h2>Daten ändern</h2>
        <div class="text-danger">
          <span *ngIf="f.vorname.errors || vorname.value == '' ">vorname is empty</span>
          <span *ngIf="f.nachname.errors || nachname.value == ''; ">nachname is empty</span>
          <span *ngIf="f.telephone.errors || telephone.value == ''; ">telephone is empty</span>
          <span *ngIf="f.CompanyName.errors || CompanyName.value == ''; ">Name der Orga is empty</span>
          <!-- <span *ngIf="f.role.errors || role.value == ''; "> Ihre Rolle in der Organisation is empty</span>       -->
          <span *ngIf="query.value == ''; ">Address field is empty</span>

        </div>
      </div>
      <div class="general">
        <form [formGroup]="form">
          <ion-list>
            <div class="grid-2">
              <ion-item lines="none">
                <ion-label position="stacked">Vorname</ion-label>
                <ion-input type="text" #vorname formControlName="vorname" clearInput autocapitalize="word" autocomplete autocorrect></ion-input>
              </ion-item>
              <ion-item lines="none">
                <ion-label position="stacked">Nachname</ion-label>
                <ion-input type="text" #nachname formControlName="nachname" clearInput autocapitalize="word" autocomplete autocorrect></ion-input>
              </ion-item>
            </div>
            <ion-item lines="none">
              <ion-label position="stacked">Telefonnummer</ion-label>
              <ion-input type="number" formControlName="telephone" #telephone clearInput autocapitalize="word" autocomplete autocorrect></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked"> Name der Orga</ion-label>
              <ion-input type="text" formControlName="CompanyName" #CompanyName clearInput autocapitalize="word" autocomplete autocorrect></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Adresse</ion-label>
              <ion-input type="text" #query clearInput autocapitalize="word" [(ngModel)]="location.addressAutocomplete.query"
                [ngModelOptions]="{standalone: true}" (ionInput)="getLocations()" (ionBlur)="pickupBlur()"
                (ionFocus)="pickupFocus()"> </ion-input>
            </ion-item>
            <ion-list
              [hidden]="location.addressAutocompleteItems.length === 0 || disableaddress === true || location.addressAutocomplete.query.length === 0 ">
              <ion-item *ngFor="let item of location.addressAutocompleteItems" tappable (click)="addressItem(item)">
                {{ item }}
              </ion-item>
            </ion-list>

            <ion-item lines="none">
              <ion-label position="stacked">Ihre Rolle in der Organisation</ion-label>
              <ion-select formControlName="role" cancelText="Abbrechen" okText="Fertig">
                <ion-select-option>Geschäftsinhaber</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">E-Mail</ion-label>
              <ion-input type="email" formControlName="email" clearInput></ion-input>
            </ion-item>
            <ion-item lines="none">
              <ion-label position="stacked">Passwort</ion-label>
              <ion-input type="password" formControlName="password" clearInput></ion-input>
            </ion-item>
          </ion-list>

          <div class="divider"></div>

          <div class="container">
            <ion-button color="primary" expand="block" [disabled]="!form.valid" (click)="update(form)">Aktualisieren</ion-button>
          </div>
        </form>
      </div>

    </div>
  </div>
</ion-content>