<ion-content>
  <div class="main container">
    <div class="content">
      <div class="title">
        <h1>medApp</h1>
        <div class="text">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
        </div>
      </div>
      <div class="buttons">
        <ion-button color="primary" expand="block" (click)="navigateRegister()">Jetzt registrieren</ion-button>
        <p class="pointer" (click)="navigateLogin()">Bereits registriert? Jetzt einloggen!</p>
      </div>
    </div>
  </div>
</ion-content>