<ion-content>
  <div class="main">
    <div class="header container">
      <div class="logo">
        <p>medApp</p>
      </div>
      <!-- make an action sheet and for each month an entry, so we have stats download option (.cls file) for every month. An email should be sent automatically each month with the stats to the admin;
          stats includes: employer id / name of organisation / address / how many employees the employer asked for the whole month / how many employees the employer got successfully accepted -->
      <ion-icon name="stats" class="pointer" (click)='takeAction()'></ion-icon>
    </div>

    <div class="content">
      <div class="title container">
        <h1>Organisationen ({{totalRecord}}) </h1>

        <ion-searchbar (input)="onSearchChange($event.target.value)" showCancelButton cancelButtonText="Abbrechen"
          autocomplete autocorrect animated placeholder="Name eintippen"></ion-searchbar>
      </div>

      <div class="employees pointer" *ngFor="let item of userData">
        <div class="list-items">
          <div class="item" (click)="navigateEmployer(item)">
            <div class="item-text text container">
              <!-- <p>Max Mustermann</p> -->
              <p> {{item?.vorname}} {{item?.nachname}} </p>
            </div>
            <div class="item-icon">
              <ion-icon name="arrow-forward"></ion-icon>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [class.active]="currentUrl == '/admin/employees'" routerLink="/admin/employees"
      routerDirection="root">
      <ion-icon name="people"></ion-icon>
      <ion-label>Einsatzkräfte</ion-label>
    </ion-tab-button>

    <ion-tab-button [class.active]="currentUrl == '/admin/employers'" routerLink="/admin/employers"
      routerDirection="root">
      <ion-icon name="medkit"></ion-icon>
      <ion-label>Organisationen</ion-label>
    </ion-tab-button>

    <ion-tab-button [class.active]="currentUrl == '/admin/settings'" routerLink="/admin/settings"
      routerDirection="root">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Einstellungen</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>