<ion-content>
  <div class="main">
    <div class="header container">
      <ion-back-button text="" defaultHref="" icon="arrow-round-back"></ion-back-button>
    </div>

    <div class="content">
      <div class="title container">
        <h2>Bewerbung</h2>
      </div>

      <div class="application">
        <!-- employee profile image -->
        <div class="profile-image container">
          <img *ngIf="userDetail.imageURL" [src]=" userDetail.imageURL " alt="Employee's Image">
          <!-- <img src="../../../../../../assets/IMG_9577.JPG"> -->
        </div>

        <div class="info">
          <div class="general">
            <p class="small-title container">Allgemeine Informationen</p>
            <div class="list-items">

              <!-- FIRST NAME LAST NAME of employee -->
              <div class="item-no-icon container">
                <p>{{userDetail.vorname}} {{userDetail.nachname}} </p>
              </div>

              <!-- phone number, show only if the applicant has an approval from employer -->
              <div class="item-no-icon container" *ngIf="isConfirmApp">
                <p>{{userDetail.telefonnumer}} </p>
              </div>

              <!-- personal qualification -->
              <div class="item-no-icon container">
                <p>{{userDetail.qualifikation}}</p>
              </div>

              <!-- Is driving license necessary? 
              If yes - FORMAT: Führerscheinklasse "DRIVING LICENSE TYPE", 
              else if no - FORMAT: Es wird kein Führerschein benötigt, 
              else if beneficial - FORMAT: Führerschein wäre vorteilhaft, kein Muss. -->
              <div class="item-no-icon container">
                <p>{{licenseType}}</p>
              </div>
            </div>
          </div>

          <!-- show other qualifications -->
          <div class="others" *ngIf="otherQualifications">
            <p class="small-title container">Sonstige Qualifikationen</p>
            <div class="list-items" *ngFor="let x of otherQual; let in = index">
              <!-- name of qualification -->
              <div class="item-no-icon container">
                <p>{{otherQual[in]}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- if a confirmation was sent, don't show the following button -->
      <div class="container">
        <ion-button color="primary" expand="block" (click)="answerOptions()" [hidden]="isConfirmApp">Zusage / Absage
        </ion-button>
      </div>

    </div>
  </div>
</ion-content>