<ion-content>
  <div class="main">
    <div class="header container">
      <ion-back-button text="" defaultHref="" icon="arrow-round-back"></ion-back-button>
    </div>

    <div class="content">
      <div class="title container">
        <h2>Passwort zurücksetzen</h2>
        <div class="text">
          <p>Passwort vergessen? Kein Problem! Einfach E-Mail eintragen und du erhältst einen Link zum Zurücksetzen
            deines Passworts.</p>
        </div>
      </div>

      <div class="general">
        <form>
          <ion-list>
            <ion-item lines="none">
              <ion-label position="stacked">E-Mail</ion-label>
              <ion-input type="email" [(ngModel)]="email" name="email" clearInput required> </ion-input>
            </ion-item>
          </ion-list>
          {{email}}
          <div class="divider"></div>

          <div class="container">
            <ion-button color="primary" expand="block" (click)="passwordReset()">Jetzt zurücksetzen</ion-button>
          </div>

        </form>
      </div>

    </div>
  </div>
</ion-content>